/*@import "app.css";*/
@import "app2.css";
@import 'boxicons/css/boxicons.min.css';

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.ivu-layout-sider-trigger {
    background: #F0F1FA;
}

.ivu-icon-ios-arrow-back:before {
    color: black;
}

.ivu-menu-vertical.ivu-menu-light:after, .ivu-menu-horizontal.ivu-menu-light:after {
    display: none;
}

.ivu-layout-sider.ivu-layout-sider-collapsed {
    min-width: 0 !important;
}

.dark-theme .bxs-trash {
    color: black;
}
